{% extends "base.jinja" %}
{% block my_content %}


<h1>The posts</h1>
  {% for post in posts.find('published', true).pager(0).items %}
  <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
  {% endfor %}
{% endblock %}
