{% extends "stallion:admin/admin-base.jinja" %}
{% block extra_head %}
    {{ assets.definedBundle("userAdminStylesheets") }}
{% endblock %}




    {% block main_column %}
<div id="main-column-outer">
  <div class="pure-g">
    <div class="pure-u-1">
      <h5 class="admin-section-title">User management</h5>
      <users-table></users-table>
      <user-view></user-view>
    </div>
  </div>
</div>
    {% endblock %}

{% block pre_end_body %}
    {{ assets.definedBundle("userAdminJavascripts") }}
{% endblock %}

