{% extends "stallion:admin/admin-base.jinja" %}
{% block extra_head %}
{{ assets.compiledBundle("user-admin-vue.css") }}
{% endblock %}




{% block main_column %}
<div id="main-column-outer">
    <div class="pure-g">
        <div class="pure-u-1">
          <h5 class="admin-section-title">User management</h5>
          <div id="app">
            <!-- route outlet -->
            <router-view class="view" transition="test" transition-mode="out-in" ></router-view>
          </div>          
        </div>
    </div>
</div>
{% endblock %}

{% block pre_end_body %}
{{ assets.compiledBundle("user-admin-vue.js") }}
{% endblock %}

