{% extends "stallion:admin/base.jinja" %}
{% block main_column %}


<h1>The Settings Screen</h1>
<div id="react-target"></div>
{% endblock %}

{% block pre_end_body %}
<script src='{{ assets.resource("admin/screens/settings-screen.jsx?processor=jsx", "stallion") }}' type="text/javascript"></script>
{% endblock %}
