


.user-status span {
    background-color: #F9F9F9;
    padding: 1px 5px 1px 5px;
    font-size: 12px;
    border-radius: 4px;
}
.user-management-actions div {
    margin-bottom: 1em;
}
.user-management-actions button {
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
}
