/* App.scss */
body, html {
    font-family: sans-serif;
    background-color: #F2F2F2;

}
#app-wrap {
    max-width: 1000px;
    margin: 20px auto 20px auto;
    background-color: #FBFBFB;
    padding: 20px;
}