body {
    border-top: 15px solid black;
}
.features p {
    white-space: 
}
.jumbotron h1 {
    font-size: 72px;
    font-weight: 200;
    text-align: center;
}
.jumbotron h1 a {
    color: black;
}
.jumbotron h1 a:hover {
    text-decoration: none;
}
.jumbotron {
    text-align: center;
}
.jumbotron img {
    display:inline-block;
    margin-left: .35em;
    margin-bottom: .25em;
    max-height: 100px;
}

.container.features {

}

.post-sumary {

}
footer p {
    border-top: 1px solid transparent;
    margin-top: 2em;
    text-align: center;
}
.post-container {
    margin-top: 4em;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}