{% extends "stallion:common-base.jinja" %}

{% block builtin_head_bundles %}
{{ assets.bundle(pluginName, "app.bundle.css") }}
{% endblock %}

{% block bundle_css %}
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div id="app-wrap">
        <div id="{{ pluginName }}-app">
            <div class="row">
                <h2>I am a new Java Stallion web application.</h2>
                <h4>I need to be implemented.</h4>
            </div><!--/row-->
        </div><!--end /presto-app-->
    </div>
</div><!--/container-->

{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
{%-- block bundle_js --%}
{{ assets.bundle(pluginName, "app.bundle.js") }}
{%-- endblock --%}

{% block pre_end_body %}
<script type="text/javascript">

    var theApplicationContext = {{ theApplicationContextJson }};

</script>
{% endblock %}
