{% extends "stallion:semipublic/semipublic-base.jinja" %}
{% block main_column %}


<style>
    #st-login-form input[type="password"], #st-login-form input[type="name"], #st-login-form input[type="email"] { width: 100%; }
</style>
<div id="layout" class="pure-g">
    <div class="pad pure-u-1 pure-u-md-7-24">
    </div>
    <div class="pad pure-u-1 pure-u-md-5-12 content-box">
        <h1 class="st-splash-header">Admin Sign in</h1>
        <form id="st-login-form" class="st-form pure-form pure-form-stacked">
            <fieldset>
                <div class="st-bottom-space">
                    <label for="email">Username/Email</label>
                    <input type="email" name="username" placeholder="Email">
                </div>
                <div class="st-bottom-space">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="st-bottom-space">
                    <label for="remember">
                        <input id="rememberMe" name="rememberMe" type="checkbox"> Remember me
                    </label>
                </div>
                <div class="st-bottom-space">
                    <button type="submit" class="st-button-submit pure-button pure-button-primary">Sign in</button>
                </div>
            </fieldset>
        </form>
        <div>
            <a href="/st-admin/users/reset-password">Forgot your password?</a>
        </div>
    </div>
    <div class="pad pure-u-1 pure-u-md-7-24">
    </div>
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script src='{{ assets.resource("admin/screens/login-screen.js", "stallion") }}' type="text/javascript"></script>
{% endblock %}
