{% extends "stallion:/public/public-base-single-box.jinja" %}
{% block main_column %}
<div id="layout" class="pure-g">
  <div class="pad pure-u-1">
    <h2 style="text-align:center;">{{ friendlyMessage }}</h2>
    <h3 style="text-align:center;"><a href="/">Return to the home page</a></h3>
  </div>
</div><!-- pure-g -->
{% endblock %}

{% block above_footer %}
    {% if errorDebugMessage %}
    <h4 style="text-align:center;">Debug information:</h4>
    <div style="padding:20px;"><code >{{ errorDebugMessage }}</code></div>
    {% endif %}
{% endblock %}


