{% extends "stallion:/public/public-base-single-box.jinja" %}
{% block main_column %}
<div id="layout" class="pure-g">
    <div class="pad pure-u-1">
        <h1 class="p-none">Sign in</h1>
        <form @submit.prevent="onLoginSubmit" id="st-login-form" class="st-form pure-form pure-form-stacked">
            <fieldset>
                {% if user.username %}
                   <div class="logged-in-as-box">
                   <small>You are currently logged in as <em>{{ user.username }}</em> with role level <em>{{ user.role.toString().toLowerCase() }}</em>. <a href="/st-users/logoff">Logoff</a></small>
                   {% if not user.approved %}
                       {% if not user.emailVerified %}
                       <br><b><small><a href="">You must verify your email address.</a></small></b>
                       {% else %}
                       <br><b><small>Your account is pending administrative approval.</small></b>
                       {% endif %}
                   {% endif %}
                   </div>
                {% endif %}
                <div class="p">
                    <label for="email">Username/Email</label>
                    <input class="pure-input-1"  type="email" name="username" placeholder="Email" autofocus="autofocus" value="{{ email|e }}" required="required" v-model="username">
                </div>
                <div class="p">
                    <label for="password">Password</label>
                    <input  class="pure-input-1" type="password" name="password" placeholder="Password" required="required" v-model="password">
                </div>
                <div class="p">
                    <label for="remember">
                        <input id="rememberMe" name="rememberMe" type="checkbox" v-model="rememberMe"> Remember me
                    </label>
                </div>
                <div class="p">
                    <button type="submit" class="st-button-submit pure-button pure-button-primary" v-stallion-locking="'signin'">Sign in</button>
                </div>
            </fieldset>
        </form>
        {% if allowReset %}
        <div class="st-top-space">
            <a href="/st-users/reset-password">Forgot your password?</a>
        </div>
        {% endif %}
        {% if allowRegister %}
        <div class="st-top-space">
            <a href="/st-users/register?stReturnUrl={{ returnUrl }}">Register as a new user</a>
        </div>
        {% endif %}
    </div>
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", StallionPublicPages.loadLoginPage); 
</script>

{% endblock %}
