{% extends "stallion:public/semipublic-single-box-page.jinja" %}
{% block main_column %}
<div id="layout" class="pure-g">
    <div class="pad pure-u-1">
        <h1 class="st-splash-header">Sign in</h1>
        <form id="st-login-form" class="st-form pure-form pure-form-stacked">
            <fieldset>
                {% if user.username %}

                   <small>You are currently logged in as <em>{{ user.username }}</em> with role level <em>{{ user.role.toString().toLowerCase() }}</em>. <a href="/st-admin/users/logoff">Logoff</a></small>
                   {% if not user.approved %}
                       {% if not user.emailVerified %}
                       <br><b><small><a href="">You must verify your email address.</a></small></b>
                       {% else %}
                       <br><b><small>Your account is pending administrative approval.</small></b>
                       {% endif %}
                   {% endif %}
                {% endif %}
                <div class="st-bottom-space">
                    <label for="email">Username/Email</label>
                    <input class="pure-input-1"  type="email" name="username" placeholder="Email" autofocus="autofocus" value="{{ email|e }}" required="required">
                </div>
                <div class="st-bottom-space">
                    <label for="password">Password</label>
                    <input  class="pure-input-1" type="password" name="password" placeholder="Password" required="required">
                </div>
                <div class="st-bottom-space">
                    <label for="remember">
                        <input id="rememberMe" name="rememberMe" type="checkbox"> Remember me
                    </label>
                </div>
                <div class="st-bottom-space">
                    <button type="submit" class="st-button-submit pure-button pure-button-primary">Sign in</button>
                </div>
            </fieldset>
        </form>
        {% if allowReset %}
        <div class="st-top-space">
            <a href="/st-admin/users/reset-password">Forgot your password?</a>
        </div>
        {% endif %}
        {% if allowRegister %}
        <div class="st-top-space">
            <a href="/st-admin/users/register?stReturnUrl={{ returnUrl }}">Register as a new user</a>
        </div>
        {% endif %}
    </div>
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script src='{{ assets.resource("admin/screens/login-screen.js", "stallion") }}' type="text/javascript"></script>
{% endblock %}
