{% extends "stallion:public/semipublic-base.jinja" %}
{% block main_column %}

<style>
    #st-login-form input[type="password"], #st-login-form input[type="name"], #st-login-form input[type="email"] { width: 100%; }
</style>
<div id="layout" class="pure-g">
    <div class="pad pure-u-1 pure-u-md-7-24">
    </div>
    <div class="pad pure-u-1 pure-u-md-5-12 content-box">
        <h1 class="st-splash-header">Authorize Application</h1>
        <form id="st-login-form" class="st-form pure-form pure-form-stacked">
            <fieldset>

                <div class="st-bottom-space">
                    <button type="submit" class="st-button-submit pure-button pure-button-warning">Deny</button>
                    <button type="submit" class="st-button-submit pure-button pure-button-success">Allow</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pad pure-u-1 pure-u-md-7-24">
    </div>
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script src='{{ assets.resource("admin/screens/oauth-screen.js", "stallion") }}' type="text/javascript"></script>
{% endblock %}
