{% extends "stallion:public/semipublic-single-box-page.jinja" %}
{% block main_column %}
<div id="layout" class="pure-g">
    <div class="pad pure-u-1" id="st-register-page">
        <h1 class="st-splash-header">Register as a new user</h1>
        <form id="st-register-form" class="st-form pure-form pure-form-stacked">
          <fieldset>
            <div class="st-bottom-space">
              <label for="email">Your Name</label>
              <input class="pure-input-1"  type="text" name="displayName" placeholder="Jamie Doe" autofocus="autofocus" required="required">
            </div>
            <div class="st-bottom-space">
              <label for="email">Email</label>
              <input class="pure-input-1"  type="email" name="username" placeholder="Email" autofocus="autofocus" required="required">
            </div>
            <div class="st-bottom-space">
              <label for="password">Password</label>
              <input  class="pure-input-1" type="password" name="password" placeholder="Password" required="required">
            </div>
            <div class="st-bottom-space">
              <label for="password">Confirm password</label>
              <input  class="pure-input-1" type="password" name="passwordConfirm" placeholder="Password" required="required">
            </div>
            <div class="st-bottom-space">
              <button type="submit" class="st-button-submit pure-button pure-button-primary">Register</button>
            </div>
          </fieldset>
        </form>
        <div>
          Already have an account? <a href="/st-users/login">Sign in</a>
        </div>
    </div>
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script src='{{ assets.resource("admin/screens/login-screen.js", "stallion") }}' type="text/javascript"></script>
{% endblock %}
