{% extends "stallion:/public-base-single-box.jinja" %}
{% block main_column %}

<style>
    #st-login-form input[type="password"], #st-login-form input[type="name"], #st-login-form input[type="email"] { width: 100%; }
</style>
<div id="layout" class="pure-g">
    {% if not tokenVerified %}
    <div class="pad pure-u-1">
        {% if verifyError %}
        <div class="st-error" role="alert">Password reset token for email {{ email }} was not valid.</div>
        {% endif %}
        <h1 class="p-none">Reset your password</h1>
        <form @submit.prevent="sendResetEmail" id="st-reset-password-form" class="st-form pure-form pure-form-stacked">
          <div v-if="emailSent" id="reset-sent-box" style="margin-top: 1em;" class="st-success spaced">If your email matched an active account, then we have sent you an email to reset your password. You should receive it within a few minutes.</div>
          <fieldset>
            <div class="p">
              <label>Email/Username</label>
              <input class="pure-input-1" type="email" name="email" placeholder="Email" v-model="email" required="true">
            </div>
            <div class="p">
              <button type="submit" class="st-button-submit pure-button pure-button-primary" v-stallion-locking="'sendreset'">Send password reset email</button>
            </div>
          </fieldset>
        </form>
    </div>
    {% endif %}
    {% if tokenVerified %}
    <div id="choose-new-password-box"  class="pad pure-u-1">
        <h1 class="st-splash-header">Choose new password</h1>
        <form @submit.prevent="submitNewPassword" id="st-choose-new-password-form" class="st-form pure-form pure-form-stacked">
            <fieldset>
                <div class="p">
                    <label>Email/Username</label>
                    <input  class="pure-input-1"  type="email" name="email" placeholder="Email or username" v-model="email" readonly="readonly">
                </div>
                <div class="p">
                    <label>New password</label>
                    <input class="pure-input-1"  type="password" name="password" autofocus="autofocus" v-model="password">
                </div>
                <div class="p">
                    <label for="email">Confirm new password</label>
                    <input  class="pure-input-1" type="password" name="passwordConfirm" v-model="passwordConfirm">
                </div>

                <div class="p">
                    <button type="submit" class="st-button-submit pure-button pure-button-primary" v-stallion-locking="'submitnewpassword'">Save new password</button>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div><!-- pure-g -->
{% endblock %}

{% block pre_end_body %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    StallionPublicPages.loadPasswordResetPage({{ optionsJson }});
  });
</script>  
{% endblock %}
