{% extends "stallion:common-base.jinja" %}
{% block builtin_head_bundles %}

{{ assets.bundle("stallion", "stallion-ui-lib.bundle.css") }}
{{ assets.bundle("stallion", "demo.bundle.css") }}

{% endblock %}

{% block bundle_css %}

{% endblock %}
{% block extra_meta %}

{% endblock %}

{% block body_content %}
<div class="">
  <div id="stallion-demo-vue-app" class="{{ className }}">
    <div id="main-route-wrapper">
      <router-view class="view"  transition-mode="out-in" ref="main" ></router-view>
    </div>
  </div><!--end main-vue-app-->
</div>
{% endblock %}

{%-- block builtin_footer_bundles --%}

{%-- endblock --%}
{%-- block bundle_js --%}
{{ assets.bundle("stallion", "stallion-ui-lib.bundle.js") }}
{{ assets.bundle("stallion", "demo.bundle.js") }}
{%-- endblock --%}

{% block pre_end_body %}

<script type="text/javascript">

</script>

{% endblock %}
