<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title|e }}</title>

    {% block extra_meta %}
    {% endblock %}
    {% block builtin_head_bundles %}
    {{ assets.bundle("stallion", "public-pages.bundle.css") }}
    <style>
        body {
            background-color: {{ styleSettings.backgroundColor }};
        }
        .pure-button-primary, .st-button-submit, a.pure-button-primary {
            background-color: {{ styleSettings.primaryButtonColor }};
        }
        #main-column {
          background-color: {{ styleSettings.mainBodyColor }};
        }
        #logo-area {
          min-height: 30px;
          color: {{ styleSettings.logoTextColor }};
        }
        #logo-area .logo-area-logo {
          max-height: 70px;
          margin: 1em 0px;
        }
        a {
            color: #993333;
        }

        #trim {
          height: 12px;
          background-color: {{ styleSettings.highlightColor }};
        }
        body, div, p, table, td {
          font-family: {{ styleSettings.bodyFont }};
        }
        h1, h2, h3, h4, h5 {
          font-family: {{ styleSettings.headerFont }};
        }
        #footer {
          text-align: center;
          margin-top: 2em;
          margin-bottom: 4em;
        }
        {{ styleSettings.customCss }}
    </style>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}

</head>
<body id="semipublic-page">
  {% block main_body %}
  <div id="trim">
  </div>
  <div id="logo-area">
    {% if styleSettings.logoImageUrl %}
      <img class="logo-area-logo" src="{{ styleSettings.logoImageUrl }}" >
    {% else %}
      <h2 class="logo-text">{{ site.name }}</h2>
    {% endif %}
  </div>
  <div id="main-column">
    {% block main_column %}
    {% endblock %}
  </div>
  {% endblock %}
  <footer id="footer">
    {% if styleSettings.footer %}
    <div class="footer-info">{{ styleSettings.footer }}</div>
    {% endif %}
    <div class="footer-info">Powered by <a href="https://stallion.io">Stallion</a></div>
  </footer>
{% block builtin_footer_bundles %}
  {{ assets.bundle("stallion", "public-pages.bundle.js") }}
{% endblock %}
{% block pre_end_body %}
{% endblock %}

</body>
</html>


