
<!doctype html>
<!--
  ~ Stallion: A Modern Content Management System
  ~
  ~ Copyright (C) 2015 - 2016 Patrick Fitzsimmons.
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the
  ~ GNU General Public License as published by the Free Software Foundation, either version 2 of
  ~ the License, or (at your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
  ~ License for more details. You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/gpl-2.0.html>.
  ~
  ~
  ~
  -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    {{ assets.bundle("$$prefix$$site.bundle.css") }}
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">Company</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="menu-item-divided pure-menu-selected">
                    <a href="#">Services</a>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="header">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
        </div>
        <div class="content">
            {{ page.content }}
        </div>
    </div>
</div>
{{ assets.bundle("$$prefix$$site.bundle.js") }}
</body>
</html>
