{% extends "stallion:email/email-base.jinja" %}
{% block main %}
{% if contact.displayName %}
<p>Hi {{ contact.displayName }},</p>
{% endif %}
<p>You have requested to reset your password for the <em>{{ site.name }}</em> account <em>{{ contact.email }}</em>.</p>
<p>{{ button("Go reset your password &#187;", resetUrl) }}</p>
{% endblock %}
