{% extends "stallion:email/email-base.jinja" %}
{% block main %}

<h1>Verify your email address {{ user.email }} on {{ site.name }}</h1>
<div>Follow this link:</div>
<h5><a href="{{ verifyUrl }}">Verify your address.</a></h5>
{% endblock %}