{% extends "stallion:email/email-base.jinja" %}
{% block main %}
{% if contact.displayName %}
<p>Hi {{ contact.displayName }},</p>
{% endif %}
<p>You are required to verify your email address <em>{{ contact.email }}</em> to continue using your <em>{{ site.name }}</em> account. If you never created an account at {{ site.url }}, please ignore this email.</p>
<p>{{ button("Click here to verify your email address", verifyUrl) }}</p>
{% endblock %}
