#menu {
    background-color: #333;
    .custom-brand {

        color: #EEE;
    }
    .custom-brand img {
        height: 40px;
        vertical-align: middle;
    }
    .logo-area-wrapper {
        margin-top: 10px;
        margin-left: 26px;
        font-size: 22px;
        a {
            text-decoration: none;
        }
    }

}

#main-column-outer {
    margin-left: 30px;
    margin-top: 1em;
}

